.navigation_wrapper {
  background: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  a {
    font-style: none;
    text-decoration: none;
    padding: 5px;
    color: white;
  }
}